.element{
    height: 600px;
    background-color: blanchedalmond;
    background-image: url("https://i.blogs.es/0ca9a6/aa/1366_2000.jpeg");
    background-position: 0px;
    background-size: cover;
    background-repeat: no-repeat;


}